STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
NETI_SHIPPING_RATE_ID=shr_...
PROVIDER_ADMIN_SECRET=change-me
RESEND_API_KEY=re_...
PAYMENTS_EMAIL_FROM=MACKLEY <payments@mackley.co>
DATA_DASHBOARD_PASSWORD=BreatheDeeper
DATA_DASHBOARD_SESSION_SECRET=change-me
DASHBOARD_SHARED_SECRET=BreatheDeeper
